<template>
  <div>
    <template v-if="item">
      <div>
        <div class="p-2 w-full flex justify-center items-center">
          <img :src="item.imgurl" alt="" class="h-20 w-20 rounded-md" />
          <h2
            class="mt-2 ml-3 text-center font-mono text-2xl text-pink-main font-bold relative"
          >
            {{ item.name }}
          </h2>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col justify-center items-center mt-3">
          <span class="font-medium text-black-main">Quantity : </span>
          <div class="flex w-2/3 justify-between py-1 px-3 text-lg">
            <MinusCircleIcon
              @click.stop="
                () => {
                  if (quantity > 1) {
                    quantity--;
                  }
                }
              "
              class="shadow rounded-full text-pink-main"
              size="1.5x"
            ></MinusCircleIcon>
            <div class="font-medium">{{ quantity }}</div>
            <PlusCircleIcon
              @click.stop="quantity++"
              class="shadow rounded-full text-pink-main"
              size="1.5x"
            ></PlusCircleIcon>
          </div>
        </div>
        <div class="border-t mt-3 pt-3 flex justify-center">
          <datepicker
            v-model="dlc"
            input-class="rounded-full h-10 focus:outline-none pl-4 text-black-main bg-gray-100 text-sm"
            calendar-class="left-0"
          ></datepicker>
          <div class="pl-3">
            <div
              class="flex rounded-full h-10 w-10 bg-blue-main items-center justify-center shadow"
              @click="$refs.file.click()"
            >
              <CameraIcon class="text-white h-6 w-6"></CameraIcon>
            </div>
          </div>
        </div>
        <!-- input -->
        <div>
          <input
            type="file"
            class="hidden"
            ref="file"
            @change="handleFileChange"
            accept="image/x-png,image/gif,image/jpeg"
          />
        </div>

        <div class="flex flex-grow justify-center mt-3">
          <div
            class="rounded-full px-4 mt-10 py-2 text-lg font-medium text-white bg-indigo-main shadow-md cursor-pointer"
            :style="{ bottom: '0', left: 'calc(50% - 6rem)' }"
            @click="addToFreego"
          >
            Add to my freego !
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <h2
        class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative"
      >
        Loading...
      </h2>
      <div class="w-full flex justify-center mt-10">
        <MoonLoader color="rgb(205, 93, 125)"></MoonLoader>
      </div>
    </template>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import {
  PlusCircleIcon,
  MinusCircleIcon,
  CameraIcon,
} from "@vue-hero-icons/solid";
import MoonLoader from "vue-spinner/src/MoonLoader.vue";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      item: null,
      dlc: new Date(),
      quantity: 1,
    };
  },
  components: {
    PlusCircleIcon,
    MinusCircleIcon,
    MoonLoader,
    Datepicker,
    CameraIcon,
  },
  mounted() {
    this.fetchItem();
    console.log(this.freegos[0]);
  },
  computed: {
    ...mapGetters("user", ["freegos"]),
    computedDate() {
      let d = new Date(Date.parse(this.dlc));
      return d.toISOString();
    },
  },
  methods: {
    fetchItem() {
      this.$axios.get(`/foods/${this.$route.params.id}`).then((res) => {
        this.item = res.data;
      });
    },
    addToFreego() {
      console.log(this.freegos);
      this.$axios
        .put(`/fridges/addFood/${this.freegos[0].id}`, {
          foodId: this.item.id,
          quantity: this.quantity,
          dlc: this.computedDate,
        })
        .then((res) => {
          console.log(res);
          this.$toast.success("Ingredient added !");
          this.$router.push({ name: "freego" });
        })
        .catch((e) => {
          console.error(e);

          this.$toast.error("Ooops! An error occured...");
        });
    },
    handleFileChange(e) {
      console.log(e.target.files[0]);
      const img = e.target.files[0];
      if (img) {
        const reader = new FileReader();
        reader.readAsDataURL(img);
        reader.onload = () => {
          const b64 = reader.result;
          console.log(b64);
          this.$axios
            .post("http://localhost:5050/DLC", {
              imgBase64: b64,
            })
            .then((res) => {
              console.log(res);
              console.log(new Date(Date.parse(res.data)));
              if (res.data == "26/1/2022") {
                console.log("coucou");
                this.dlc = new Date(
                  new Date().getTime() + 5 * 24 * 60 * 60 * 1000
                );
              } else this.dlc = new Date(Date.parse(res.data));
            });
        };
        reader.onerror = () => {
          this.$toast.error("Could not read image");
        };
      }
    },
  },
};
</script>

<style>
.vdp-datepicker__calendar {
  position: fixed !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
</style>
