<template>
  <div class="flex flex-col w-full py-4 relative" v-if="items">
    <h2
      class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative"
    >
      Fill your freego !
    </h2>
    <div class="flex w-full justify-center mt-4">
      <!-- @focus="hideFooter()" @blur="showFooter()" -->
      <!-- <input
                type="text"
                placeholder="Type something yummy"
                @focus="$store.dispatch('layout/showFooter', false)"
                @blur="$store.dispatch('layout/showFooter', true)"
                class="rounded-full w-2/3 h-10 focus:outline-none pl-4 text-black-main bg-gray-100"
                @input="search = $event.target.value"
            > -->
      <c-input
        class="w-2/3"
        type="text"
        placeholder="Type something yummy"
        :value="search"
        @input="doSearch($event)"
      />

      <!-- v-model="search" -->
      <!-- @change="fetchItems()" -->
    </div>
    <div
      class="absolute bg-gray-500 bg-opacity-30 flex items-center justify-center"
      style="top: 0; bottom: 0; left: 0; right: 0"
      v-if="loading"
    >
      <MoonLoader color="rgb(205, 93, 125)"></MoonLoader>
    </div>
    <template v-else v-for="item in items.content">
      <router-link
        :to="{
          name: 'freegoAddIngredientItem',
          params: {
            id: item.id,
          },
        }"
        :key="item.id"
      >
        <IngredientListItem :ingredient="item" :key="item.id" />
      </router-link>
    </template>
    <div class="p-10" v-if="!search.length">
      <Pagination v-model="page" :items="items"></Pagination>
    </div>
  </div>
</template>

<script>
import { POSITION } from "vue-toastification";
import IngredientListItem from "@/components/ingredients/IngredientListItem";
import CInput from "@/components/global/CInput";
import Pagination from "@/components/global/Pagination";
import MoonLoader from "vue-spinner/src/MoonLoader.vue";

export default {
  components: {
    IngredientListItem,
    CInput,
    Pagination,
    MoonLoader,
  },
  data() {
    return {
      canToast: true,
      search: "",
      items: null,
      page: 0,
      loading: false,
    };
  },
  mounted() {
    this.fetchItems();
  },

  methods: {
    doSearch(e) {
      console.log(e.target.value);
      this.search = e.target.value;
      this.fetchItems();
    },

    fetchItems() {
      this.loading = true;
      this.$axios
        .get("/foods/pages", {
          params: {
            number: this.search.length ? 0 : this.page,
            size: 6,
            name: this.search,
          },
        })
        .then((res) => {
          this.items = res.data;
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.error(e);
          if (this.canToast) {
            this.canToast = false;
            this.$toast("No results... let's try something else !", {
              timeout: 2000,
              position: POSITION.BOTTOM_LEFT,
            });
            setTimeout(() => {
              this.canToast = true;
            }, 2500);
          }
        });
    },
  },
  watch: {
    page(from, to) {
      if (from != to) {
        this.fetchItems();
      }
    },
  },
};
</script>

<style></style>
