<template>
    <div>
        <template v-if="item">
            <template v-if="item.foodList.length">
                <h2 class="mt-8 text-center font-mono text-2xl text-pink-main font-bold">
                    Your freego is amazing !
                </h2>
            </template>
            <template v-else>
                <h2 class="mt-8 text-center font-mono text-2xl text-pink-main font-bold">
                    Add some ingredients first !
                </h2>
            </template>
            <div class="fridge flex w-full flex-col items-center justify-center mt-12">
                <div
                    class="fridge-inside rounded-md border-4 h-96 overflow-auto bg-gray-200 shadowcustom"
                    ref="fridge"
                >
                    <div class="grid grid-cols-2 bg-white">
                        <div
                            class="h-32 w-32 border-b border-r flex items-center justify-center"
                            v-if="item.foodList.length > 6"
                        >
                            <router-link :to="{ name: 'freegoAddIngredient' }">
                                <button class="flex h-6 w-6 items-center justify-center bg-indigo-main text-white rounded-md shadow-md">
                                    <PlusIcon></PlusIcon>
                                </button>
                            </router-link>
                        </div>
                        <FreegoListItem
                            v-for="ingredient in item.foodList"
                            :ingredient="ingredient"
                            :key="ingredient.id"
                            @delete="fetchItem"
                            @update="fetchItem"
                        ></FreegoListItem>
                        <div class="h-32 w-32 border-b border-r flex items-center justify-center">
                            <router-link :to="{ name: 'freegoAddIngredient' }">
                                <button class="flex h-6 w-6 items-center justify-center bg-indigo-main text-white rounded-md shadow-md">
                                    <PlusIcon></PlusIcon>
                                </button>
                            </router-link>
                        </div>
                    </div>
                </div>
                <router-link :to="{name:'recipesRecommendation'}">
                    <div class="items-center flex h-10 w-10 justify-center items-center bg-indigo-main text-white font-semibold text-sm rounded-full m-4 shadow">
                        <svg
                            class="RCP__sc-1qnswg8-3 gxSRZA fill-current text-white text-center"
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 32 32"
                        >
                            <path d="M27.493 16.157C26.42 17.201 25.015 17.8 23.64 17.8l-.027.001h-.025c-.008 0-.767.036-1.582-.213a.933.933 0 1 0-.547 1.785c.449.137.883.213 1.247.253v4.907c-.307.257-1.338.629-3.013.877v-3.222a.933.933 0 0 0-1.866 0v3.417a30.07 30.07 0 0 1-3.6.019v-3.436a.933.933 0 0 0-1.866 0v3.267c-1.838-.242-2.976-.637-3.32-.911v-4.919a6.808 6.808 0 0 0 1.233-.252.933.933 0 0 0-.546-1.785 5.167 5.167 0 0 1-1.581.214h-.012l-.027-.001c-2.969 0-5.573-2.598-5.573-5.56 0-3.177 2.057-5.573 4.787-5.573 1.052 0 1.908.265 2.863.888a.935.935 0 0 0 1.444-.782c0-2.338 1.902-4.24 4.24-4.24s4.24 1.902 4.24 4.24a.932.932 0 0 0 1.444.781c.955-.623 1.815-.888 2.877-.888 2.729 0 4.787 2.396 4.787 5.573 0 1.447-.611 2.839-1.72 3.917zM9.04 28.183v-1.576c2.257.865 5.858.927 6.827.927.971 0 4.584-.062 6.84-.931v1.569c-.497.417-2.891 1.135-6.84 1.135-3.913 0-6.3-.706-6.827-1.124zm20.205-21.15C28.006 5.593 26.296 4.8 24.427 4.8a6.78 6.78 0 0 0-2.63.513c-.656-2.665-3.066-4.647-5.93-4.647s-5.273 1.981-5.929 4.645A6.564 6.564 0 0 0 7.321 4.8c-1.869 0-3.579.793-4.818 2.233C1.32 8.408.668 10.258.668 12.24c0 3.642 2.947 6.873 6.507 7.363v4.964c-.011.069-.016.141-.011.213.002.037.007.072.011.107v3.32c-.011.069-.016.14-.011.213.17 2.621 7.281 2.753 8.705 2.753 1.413 0 8.433-.131 8.699-2.698l.004-.036.002-.019v-.03l.002-.03v-8.757c3.56-.49 6.507-3.72 6.507-7.363 0-1.981-.652-3.831-1.835-5.207z"></path>
                        </svg>
                    </div>
                </router-link>
            </div>
        </template>
        <template v-else>
            <h2 class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative">
                Loading...
            </h2>
            <div class="flex justify-center pt-5">
                <MoonLoader color="rgb(205, 93, 125)"></MoonLoader>
            </div>
        </template>
    </div>
</template>

<script>
import { PlusIcon } from "@vue-hero-icons/solid";
import FreegoListItem from "@/components/freego/FreegoListItem";
import { mapGetters } from "vuex";
import MoonLoader from "vue-spinner/src/MoonLoader.vue";

export default {
    data() {
        return {
            item: null,
        };
    },
    components: {
        PlusIcon,
        FreegoListItem,
        MoonLoader,
    },
    mounted() {
        this.fetchItem();
    },
    computed: {
        ...mapGetters("user", ["user"]),
    },
    methods: {
        fetchItem() {
            this.$axios
                .get(`/fridges/user/${this.user.id}`, {
                    params: {
                        foods: true,
                    },
                })
                .then((res) => {
                    this.item = res.data[0];
                })
                .catch((e) => {
                    console.error(e);
                    this.$toast.error(e.message);
                });
        },
    },
};
</script>

<style>
.shadowcustom {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(20, 20, 20, 0.23);
}
</style>