<template>
  <div class="relative">
    <h2 class="mt-8 text-center font-mono text-2xl text-pink-main font-bold">
      Recommended recipes
    </h2>
    <div class="flex flex-col w-full justify-center py-3 px-5">
      <!-- Recipes -->
      <template v-if="!loading">
        <div v-if="items" class="py-2">
          <template v-for="(item, index) in items">
            <router-link
              :to="{
                name: 'recipes-item',
                params: {
                  id: item.id,
                },
              }"
              :key="item.id"
              v-if="index < 7"
            >
              <RecipeListItem :item="item"></RecipeListItem>
            </router-link>
          </template>
          <!-- <div class="p-6">
            <Pagination v-model="page" :items="items" />
          </div> -->
        </div>
      </template>
      <template v-else>
        <h2
          class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative"
        >
          Loading...
        </h2>
        <div class="w-full flex justify-center mt-10">
          <MoonLoader color="rgb(205, 93, 125)"></MoonLoader>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import RecipeListItem from "@/components/recipes/RecipeListItem";
// import Pagination from "@/components/global/Pagination";
import MoonLoader from "vue-spinner/src/MoonLoader.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    RecipeListItem,
    // Pagination,
    MoonLoader,
  },
  data() {
    return {
      items: null,
      page: 0,
      loading: false,
      search: "",
    };
  },
  mounted() {
    this.fetchItems();
  },
  computed: {
    ...mapGetters("user", ["user"]),
  },
  methods: {
    doSearch(e) {
      this.search = e.target.value;
      this.fetchItems();
    },
    fetchItems() {
      this.loading = true;
      this.$axios
        .post("http://127.0.0.1:5050/Recommandation", { iduser: this.user.id })
        .then((res) => {
          if (res.status === 200) {
            console.log(res.data);
            this.items = res.data;
          }
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.error(e);
          this.$toast.error("An error occured fetching recipes");
        });
    },
  },
  watch: {
    page(from, to) {
      if (from != to) {
        this.fetchItems();
      }
    },
  },
};
</script>

<style></style>
