<template>
  <div class="relative">
    <h2 class="mt-8 text-center font-mono text-2xl text-pink-main font-bold">
      Let's eat something !
    </h2>
    <div class="flex flex-col w-full justify-center py-3 px-5">
      <CInput
        class="w-full"
        placeholder="Search..."
        @input="doSearch($event)"
      />
      <!-- Recipes -->
      <template v-if="!loading">
        <div v-if="items && items.content" class="py-2">
          <template v-for="item in items.content">
            <router-link
              :to="{
                name: 'recipes-item',
                params: {
                  id: item.id,
                },
              }"
              :key="item.id"
            >
              <RecipeListItem :item="item"></RecipeListItem>
            </router-link>
          </template>
          <div class="p-6" v-if="!search.length">
            <Pagination v-model="page" :items="items" />
          </div>
        </div>
      </template>
      <template v-else>
        <h2
          class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative"
        >
          Loading...
        </h2>
        <div class="w-full flex justify-center mt-10">
          <MoonLoader color="rgb(205, 93, 125)"></MoonLoader>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
// import layout from "@/mixins/layout";
import CInput from "@/components/global/CInput";
import RecipeListItem from "@/components/recipes/RecipeListItem";
import Pagination from "@/components/global/Pagination";
import MoonLoader from "vue-spinner/src/MoonLoader.vue";

export default {
  // mixins: [layout],
  components: {
    CInput,
    RecipeListItem,
    Pagination,
    MoonLoader,
  },
  data() {
    return {
      items: null,
      page: 0,
      loading: false,
      search: "",
    };
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    doSearch(e) {
      this.search = e.target.value;
      this.fetchItems();
    },
    fetchItems() {
      this.loading = true;
      this.$axios
        .get("/recipes/pages", {
          params: {
            size: 6,
            number: this.page,
            name: this.search,
          },
        })
        .then((res) => {
          this.loading = false;
          if (res.status === 200) {
            this.items = res.data;
          }
        })
        .catch((e) => {
          this.loading = false;
          console.error(e);
          this.$toast.error("An error occured fetching recipes");
        });
    },
  },
  watch: {
    page(from, to) {
      if (from != to) {
        this.fetchItems();
      }
    },
  },
};
</script>

<style></style>
