<template>
  <div class="w-full">
    <template v-if="item">
      <div class="border-b">
        <div class="flex justify-center p-3">
          <img alt="" :src="item.imgurl" class="w-24 h-24 rounded-md shadow" />
        </div>
        <h2
          class="mt-1 text-center font-mono text-2xl text-pink-main font-bold"
        >
          {{ item.name.replace("Recipe", "") }}
        </h2>
        <div class="flex w-full p-1">
          <div class="flex justify-center flex-grow">
            <svg
              class="RCP__sc-1qnswg8-3 gxSRZA fill-current text-indigo-main mr-1"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="18"
              viewBox="0 0 32 32"
            >
              <path
                d="M27.493 16.157C26.42 17.201 25.015 17.8 23.64 17.8l-.027.001h-.025c-.008 0-.767.036-1.582-.213a.933.933 0 1 0-.547 1.785c.449.137.883.213 1.247.253v4.907c-.307.257-1.338.629-3.013.877v-3.222a.933.933 0 0 0-1.866 0v3.417a30.07 30.07 0 0 1-3.6.019v-3.436a.933.933 0 0 0-1.866 0v3.267c-1.838-.242-2.976-.637-3.32-.911v-4.919a6.808 6.808 0 0 0 1.233-.252.933.933 0 0 0-.546-1.785 5.167 5.167 0 0 1-1.581.214h-.012l-.027-.001c-2.969 0-5.573-2.598-5.573-5.56 0-3.177 2.057-5.573 4.787-5.573 1.052 0 1.908.265 2.863.888a.935.935 0 0 0 1.444-.782c0-2.338 1.902-4.24 4.24-4.24s4.24 1.902 4.24 4.24a.932.932 0 0 0 1.444.781c.955-.623 1.815-.888 2.877-.888 2.729 0 4.787 2.396 4.787 5.573 0 1.447-.611 2.839-1.72 3.917zM9.04 28.183v-1.576c2.257.865 5.858.927 6.827.927.971 0 4.584-.062 6.84-.931v1.569c-.497.417-2.891 1.135-6.84 1.135-3.913 0-6.3-.706-6.827-1.124zm20.205-21.15C28.006 5.593 26.296 4.8 24.427 4.8a6.78 6.78 0 0 0-2.63.513c-.656-2.665-3.066-4.647-5.93-4.647s-5.273 1.981-5.929 4.645A6.564 6.564 0 0 0 7.321 4.8c-1.869 0-3.579.793-4.818 2.233C1.32 8.408.668 10.258.668 12.24c0 3.642 2.947 6.873 6.507 7.363v4.964c-.011.069-.016.141-.011.213.002.037.007.072.011.107v3.32c-.011.069-.016.14-.011.213.17 2.621 7.281 2.753 8.705 2.753 1.413 0 8.433-.131 8.699-2.698l.004-.036.002-.019v-.03l.002-.03v-8.757c3.56-.49 6.507-3.72 6.507-7.363 0-1.981-.652-3.831-1.835-5.207z"
              ></path>
            </svg>
            <span class="text-sm text-gray-400">{{ item.preparetime }}</span>
          </div>
          <div class="flex justify-center flex-grow">
            <svg
              class="RCP__sc-1qnswg8-2 jTcJOx fill-current text-indigo-main mr-1"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="18"
              viewBox="0 0 27 32"
            >
              <path
                d="M13.207 22.759a2.151 2.151 0 1 0 0 4.302 2.151 2.151 0 0 0 0-4.302z"
              ></path>
              <path
                d="M20.806 27.979a4.326 4.326 0 0 1-3.451 1.745H9.06a4.329 4.329 0 0 1-3.451-1.745c-1.57-2.108-2.651-4.777-3.127-7.613h21.451c-.475 2.837-1.556 5.505-3.127 7.613zM5.513 6.533c2.062-2.701 4.795-4.188 7.694-4.188s5.632 1.487 7.695 4.188c2.131 2.792 3.305 6.549 3.305 10.577 0 .35-.013.7-.031 1.049h-3.41v-4.683a1.103 1.103 0 1 0-2.206 0v4.683h-4.249v-4.683a1.103 1.103 0 1 0-2.206 0v4.683H7.857v-4.683a1.103 1.103 0 0 0-2.207 0v4.683H2.24a19.305 19.305 0 0 1-.032-1.049c0-4.029 1.174-7.785 3.306-10.577zm17.142-1.34C20.166 1.933 16.81.137 13.206.137S6.247 1.933 3.758 5.193C1.334 8.368-.001 12.6-.001 17.11c0 4.47 1.399 8.912 3.838 12.187a6.545 6.545 0 0 0 5.221 2.634h8.295a6.547 6.547 0 0 0 5.221-2.633c2.439-3.275 3.838-7.717 3.838-12.187 0-4.51-1.335-8.742-3.759-11.917z"
              ></path>
            </svg>
            <span class="text-sm text-gray-400">{{ item.totaltime }}</span>
          </div>
        </div>
      </div>
      <div class="p-5">
        <h2 class="font-mono text-lg text-pink-main font-semibold mb-1">
          Ingredients:
        </h2>
        <div>
          <div
            v-for="(ingredient, index) in item.idingredients"
            :key="index"
            class="text-xs font-semibold pb-1 flex items-center"
          >
            <ChevronRightIcon
              class="h-4 w-4 mr-1 text-pink-main"
            ></ChevronRightIcon>
            <span class="text-black-main">{{ ingredient }}</span>
          </div>
        </div>
      </div>
      <div class="p-5">
        <h2 class="font-mono text-lg text-pink-main font-semibold mb-1">
          Instructions:
        </h2>
        <div>
          <div
            v-for="(direction, index) in directions"
            :key="index"
            class="text-xs font-semibold pb-1 flex items-center"
          >
            <div class="flex h-4-w-4 self-start">
              <ChevronRightIcon
                class="h-4 w-4 inline-block mr-1 text-pink-main"
              ></ChevronRightIcon>
            </div>
            <span class="text-black-main flex-shrink">{{ direction }}</span>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <h2
        class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative"
      >
        Loading...
      </h2>
      <div class="w-full flex justify-center mt-10">
        <MoonLoader color="rgb(205, 93, 125)"></MoonLoader>
      </div>
    </template>
  </div>
</template>

<script>
import MoonLoader from "vue-spinner/src/MoonLoader.vue";
import { ChevronRightIcon } from "@vue-hero-icons/outline";

export default {
  components: {
    MoonLoader,
    ChevronRightIcon,
  },
  data() {
    return {
      item: null,
    };
  },
  mounted() {
    this.fetchItem();
  },
  computed: {
    directions() {
      let directions = this.item.directions.split("**");
      directions.pop();
      return directions;
    },
  },
  methods: {
    fetchItem() {
      this.$axios
        .get(`recipes/${this.$route.params.id}`)
        .then((res) => {
          this.item = res.data;
        })
        .catch((e) => {
          console.errro(e);
          this.$toast.error("An error occured...");
        });
    },
  },
};
</script>

<style>
</style>