<template>
  <transition
    name="slide-left"
    mode="out-in"
    @beforeLeave="beforeLeave"
    @enter="enter"
  >
    <div
      class="fixed flex items-end bottom-0 left-0 right-0 text-white"
      v-if="showFooter"
    >
      <div class="w-full">
        <div class="grid grid-cols-5 w-full">
          <router-link
            to="/user"
            :class="{
              'bg-pink-main text-white': this.$route.path != '/user',
            }"
            class="duration-500 transition-all"
          >
            <div class="h-12 flex items-center justify-center border-r">
              <UserIcon></UserIcon>
            </div>
          </router-link>
          <router-link
            to="/recipes"
            :class="{
              'bg-pink-main text-white': this.$route.path != '/recipes',
            }"
            class="duration-500 transition-all"
          >
            <div class="h-12 flex items-center justify-center">
              <BookOpenIcon></BookOpenIcon>
            </div>
          </router-link>
          <!-- empty div for main button -->
          <div class="h-12 grid grid-cols-2 bg-pink-main">
            <div
              :class="{ 'bg-white': this.$route.path === '/recipes' }"
              class="duration-500 transition-all"
            ></div>
            <div
              :class="{ 'bg-white': this.$route.path === '/cart' }"
              class="duration-500 transition-all"
            ></div>
          </div>
          <!-- /empty div for main button -->
          <router-link
            to="/cart"
            :class="{ 'bg-pink-main text-white': this.$route.path != '/cart' }"
            class="duration-500 transition-all"
          >
            <div class="h-12 flex items-center justify-center border-r">
              <ShoppingBagIcon></ShoppingBagIcon>
            </div>
          </router-link>
          <router-link
            to="/friends"
            :class="{
              'bg-pink-main text-white': this.$route.path != '/friends',
            }"
            class="duration-500 transition-all"
          >
            <div class="h-12 flex items-center justify-center">
              <UserGroupIcon></UserGroupIcon>
            </div>
          </router-link>

          <!-- Main button -->
          <router-link to="/freego">
            <div
              class="flex rounded-full justify-center items-center h-20 w-20 bg-white shadow-darktop absolute duration-300 transition-all"
              :class="{
                'border-2 border-pink-main': this.$route.path === '/freego',
              }"
              style="left: calc(50% - 2.5rem); bottom: -5px"
            >
              <img :src="Frigo" alt="" class="w-12 h-12" />
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import {
  UserIcon,
  BookOpenIcon,
  ShoppingBagIcon,
  UserGroupIcon,
} from "@vue-hero-icons/solid";
import Frigo from "@/assets/frigo.png";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      Frigo,
    };
  },
  components: {
    UserIcon,
    BookOpenIcon,
    ShoppingBagIcon,
    UserGroupIcon,
  },
  computed: {
    ...mapGetters("layout", ["showFooter"]),
  },
  methods: {
    beforeLeave(element) {
      element.style.height = `5rem`;
    },
    enter(element) {
      element.style.height = `5rem`;
    },
  },
};
</script>

<style></style>
