<template>
  <component :is="layout">
    <div class="w-full md:w-2/3 lg:w-1/2">
      <div class="p-6 flex items-center justify-center">
        <img :src="logo" class="h-28 w-28" alt="" />
      </div>
      <h2 class="mt-8 text-center font-mono text-2xl text-pink-main font-bold">
        Welcome back to Freego !
      </h2>
      <div class="mt-12 flex justify-center">
        <input
          type="text"
          placeholder="Login"
          v-model="username"
          class="rounded-full w-2/3 md:w-1/2 h-10 focus:outline-none px-4 text-black-main bg-gray-100"
          @focus="hideFooter()"
          @blur="showFooter()"
        />
      </div>
      <div class="mt-5 flex justify-center">
        <input
          type="password"
          v-model="password"
          placeholder="Password"
          class="rounded-full w-2/3 md:w-1/2 h-10 focus:outline-none px-4 text-black-main bg-gray-100"
          @focus="hideFooter()"
          @blur="showFooter()"
        />
      </div>
      <div class="mt-6 flex justify-center">
        <button
          class="rounded-full w-1/2 md:w-1/3 py-3 bg-pink-main text-white font-medium text-lg shadow-pinkbottom"
          @click="login"
        >
          Login
        </button>
      </div>
      <div class="mt-6 flex justify-center">
        <router-link to="/register">
          <span class="text-indigo-main underline text-sm cursor-pointer"
            >Don't have an account ? Create one !</span
          >
        </router-link>
      </div>
    </div>
  </component>
</template>
<script>
import Logo from "@/assets/logo.png";
import layout from "@/mixins/layout";

export default {
  mixins: [layout],
  data: () => ({
    logo: Logo,
    username: "",
    password: "",
  }),
  methods: {
    login() {
      this.$toast("Logging in...", { timeout: 1500 });
      this.$axios
        .post("/auth/signin", {
          username: this.username,
          password: this.password,
        })
        .then((res) => {
          setTimeout(() => {
            this.$cookie.set("_token", res.data.jwt, 1);
            this.$store.dispatch("user/setUser", res.data.user);
            this.$router.push({ name: "freego" });
          }, 1500);
        })
        .catch((e) => {
          this.$toast.error(e.message);
          console.error(e);
        });
    },
    showFooter() {
      this.$store.dispatch("layout/showFooter", true);
    },
    hideFooter() {
      this.$store.dispatch("layout/showFooter", false);
    },
  },
};
</script>

<style></style>
