<template>
  <component :is="layout">
    <h2 class="pt-8 text-center font-mono text-2xl text-pink-main font-bold">
      {{ text }}
    </h2>
  </component>
</template>

<script>
import layout from "@/mixins/layout";
export default {
  mixins: [layout],
  data() {
    return {
      text: "Logging out",
    };
  },
  mounted() {
    setTimeout(() => {
      this.text = "Logging out.";
      setTimeout(() => {
        this.text = "Logging out..";
        setTimeout(() => {
          this.text = "Logging out...";
          setTimeout(() => {
            this.logout();
          }, 500);
        }, 500);
      }, 500);
    }, 500);
  },
  methods: {
    logout() {
      this.$cookie.set("_token", null);
      this.$router.push({ name: "login" });
    },
  },
};
</script>

<style></style>
