<template>
    <component :is="layout">
        <div class="w-full md:w-2/3 lg:w-1/2">
            <div class="p-6 flex items-center justify-center">
                <img
                    :src="logo"
                    class="h-28 w-28"
                    alt=""
                >
            </div>
            <h2 class="mt-8 text-center font-mono text-2xl text-pink-main font-bold">Create an account</h2>
            <div class="mt-12 flex justify-center">
                <input
                    type="text"
                    v-model="username"
                    name="username"
                    placeholder="Username"
                    class="rounded-full w-2/3 md:w-1/2 h-10 focus:outline-none px-4 text-black-main bg-gray-100"
                >
            </div>
            <div class="mt-5 flex justify-center">
                <input
                    type="email"
                    v-model="email"
                    name="email"
                    placeholder="Email"
                    class="rounded-full w-2/3 md:w-1/2 h-10 focus:outline-none px-4 text-black-main bg-gray-100"
                >
            </div>
            <div class="mt-5 flex justify-center">
                <input
                    type="password"
                    v-model="password"
                    name="password"
                    placeholder="Password"
                    class="rounded-full w-2/3 md:w-1/2 h-10 focus:outline-none px-4 text-black-main bg-gray-100"
                >
            </div>

            <div class="mt-6 flex justify-center">
                <button
                    class="rounded-full w-1/2 md:w-1/3 py-3 bg-pink-main text-white font-medium text-lg shadow-pinkbottom"
                    @click="signup"
                >Sign up</button>
            </div>

            <div class="mt-6 flex justify-center">
                <router-link to="/login">
                    <span class="text-indigo-main underline text-sm cursor-pointer">I already have an account</span>
                </router-link>
            </div>
        </div>
    </component>
</template>

<script>
import Logo from "@/assets/logo.png";
// import { createToast } from 'mosha-vue-toastify';
import layout from "@/mixins/layout";

export default {
    mixins: [layout],
    data: () => ({
        logo: Logo,
        username: "",
        email: "",
        password: "",
        errors: {
            email: null,
            password: null,
        },
    }),
    methods: {
        signup() {
            if (!this.validateSignup()) {
                return;
            }
            this.$axios
                .post("/auth/signup", {
                    login: this.username,
                    pwd: this.password,
                    email: this.email,
                })
                .then((res) => {
                    if (res.status == 200) {
                        this.$toast.success("Your account has been created !");
                        window.setTimeout(() => {
                            this.$router.push({
                                name: "login",
                            });
                        }, 2500);
                    }
                })
                .catch((e) => {
                    this.$toast.error(e.response.data);
                });
        },
        validateSignup() {
            const emailRegex =
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            this.errors.email = null;
            this.errors.password = null;
            if (!this.email.match(emailRegex)) {
                this.errors.email = "Wrong email format";
                this.$toast.error(this.errors.email);
            }

            if (this.password.length < 6) {
                this.errors.password = "Password must be at least 6 characters";
                this.$toast.error(this.errors.password);
            }

            const errors = Object.values(this.errors).filter((e) => e != null);
            console.log(errors.length === 0);
            return errors.length === 0;
        },
    },
};
</script>

<style></style>
