<template>
  <div class="flex py-2 pl-1 border-b">
    <div class="p-1">
      <img :src="ingredient.imgurl" alt="" class="h-14 w-14 rounded-md" />
    </div>
    <div class="flex items-center flex-grow pl-2">
      <span class="text-black-main font-medium text-lg">
        {{ ingredient.name }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    ingredient: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style></style>
