<template>
  <div class="h-screen w-screen flex justify-center">
    <slot></slot>
    <!-- footer -->
    <div class="grid grid-cols-3 fixed w-full" style="bottom: 20vh">
      <div class="relative">
        <div
          class="rounded-full shadow-md h-6 w-6 bg-pink-main absolute"
          style="top: 0; left: 1.5rem"
        ></div>
        <div
          class="rounded-full shadow-md h-5 w-5 bg-indigo-main absolute"
          style="top: 1.2rem; left: 3.2rem"
        ></div>
        <div
          class="rounded-full shadow-md h-3 w-3 bg-pink-main absolute"
          style="top: 3rem; left: 2.2rem"
        ></div>
      </div>
      <div></div>
      <div class="relative">
        <div
          class="rounded-full shadow-md h-6 w-6 bg-pink-main absolute"
          style="top: 0; right: 1.5rem"
        ></div>
        <div
          class="rounded-full shadow-md h-5 w-5 bg-indigo-main absolute"
          style="top: 1.2rem; right: 3.2rem"
        ></div>
        <div
          class="rounded-full shadow-md h-3 w-3 bg-pink-main absolute"
          style="top: 3rem; right: 2.2rem"
        ></div>
      </div>
    </div>
    <div
      class="rounded-full fixed bg-pink-main shadow-pinktop"
      style="bottom: -190vw; left: -50vw; width: 200vw; height: 200vw"
      v-if="showFooter"
    ></div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("layout", ["showFooter"]),
  },
  mounted() {
    // console.log(this.showFooter);
  },
};
</script>

<style></style>
