<template>
  <div class="flex flex-col w-full py-4 relative" v-if="items">
    <div
      class="absolute bg-gray-500 bg-opacity-30 flex items-center justify-center"
      style="top: 0; bottom: 0; left: 0; right: 0"
      v-if="loading"
    >
      <MoonLoader color="rgb(205, 93, 125)"></MoonLoader>
    </div>
    <h2
      class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative"
    >
      What are u allergic to ?
    </h2>
    <div class="flex w-full justify-center mt-4">
      <!-- @focus="hideFooter()" @blur="showFooter()" -->
      <!-- <input
                type="text"
                placeholder="Type something yummy"
                @focus="$store.dispatch('layout/showFooter', false)"
                @blur="$store.dispatch('layout/showFooter', true)"
                class="rounded-full w-2/3 h-10 focus:outline-none pl-4 text-black-main bg-gray-100"
                @input="search = $event.target.value"
            > -->
      <c-input
        class="w-2/3"
        type="text"
        placeholder="Type something yummy"
        @input="doSearch($event)"
      />

      <!-- v-model="search" -->
      <!-- @change="fetchItems()" -->
    </div>
    <template v-for="item in items.content">
      <div :key="item.id" v-on:click="addAllergie(item)" >
        <IngredientListItem :ingredient="item" :key="item.id" />
      </div>
    </template>
    <div
      class="flex justify-between text-blue-main p-10"
      v-if="items.content && items.content.length < items.totalElements"
    >
      <template v-if="page > 3">
        <div
          class="flex h-6 w-6 text-xs justify-center items-center rounded-full text-white transition-all"
          :class="paginationClass(0)"
          @click="page = 0"
        >
          0
        </div>
        <div class="text-center">...</div>
      </template>
      <template v-for="p in paginationItems">
        <div
          class="flex h-6 w-6 text-xs justify-center items-center rounded-full text-white transition-all"
          :class="paginationClass(p)"
          :key="p"
          @click="page = p"
        >
          {{ p }}
        </div>
      </template>
      <div class="text-center">...</div>
      <div
        class="flex h-6 w-6 text-xs justify-center items-center rounded-full text-white transition-all"
        :class="paginationClass(items.totalPages - 1)"
        @click="page = items.totalPages - 1"
        v-if="items.totalPages != page"
      >
        {{ items.totalPages - 1 }}
      </div>
    </div>
  </div>
</template>

<script>
import { POSITION } from "vue-toastification";
import IngredientListItem from "@/components/ingredients/IngredientListItem";
import CInput from "@/components/global/CInput";
import MoonLoader from "vue-spinner/src/MoonLoader.vue";
import { mapGetters } from 'vuex';

export default {
  components: {
    IngredientListItem,
    CInput,
    MoonLoader
  },
  data() {
    return {
      canToast: true,
      search: "",
      items: null,
      page: 0,
      loading: false,
    };
  },
  mounted() {
    this.fetchItems();
  },
  computed: {
    ...mapGetters("user", ["user"]),
    paginationItems() {
      if (!this.items.content) return [];

      var list = [];
      let end,
        start = null;
      if (this.page > 3 && this.page + 3 < this.items.totalPages) {
        start = this.page - 2;
        end = this.page + 2;
      } else if (this.page + 3 >= this.items.totalPages) {
        console.log("coucou");
        start = this.items.totalPages - 5;
        end = this.items.totalPages - 1;
      } else {
        start = 0;
        end = 5;
      }
      for (var i = start; i <= end; i++) {
        list.push(i);
      }
      console.log(start, end, list);

      return list;
    },
  },
  methods: {
    doSearch(e) {
      this.search = e.target.value;
      this.fetchItems();
    },
    paginationClass(p) {
      return {
        "bg-indigo-200": this.page != p,
        "bg-indigo-main shadow-md": this.page === p,
      };
    },
    fetchItems() {
      this.loading = true;
      this.$axios
        .get("/foods/pages", {
          params: {
            number: this.page,
            size: 6,
            name: this.search,
          },
        })
        .then((res) => {
          // console.log(res);
          this.items = res.data;
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.error(e);
          if (this.canToast) {
            this.canToast = false;
            this.$toast("No results... let's try something else !", {
              timeout: 2000,
              position: POSITION.BOTTOM_LEFT,
            });
            setTimeout(() => {
              this.canToast = true;
            }, 2500);
          }
        });
    },
    addAllergie : function(item){
      console.log("alalal",item)
       this.$axios
        .put(`/users/allergie/${this.user.id}/${item.id}`)
        .then((res) => {
          console.log(res);
          this.$toast.success("Ingredient added !");
          this.$router.push({ name: "user" });
        })
        .catch((e) => {
          console.error(e);

          this.$toast.error("Ooops! An error occured...");
        });
    },
  },
  watch: {
    page(from, to) {
      if (this.from != to) {
        this.fetchItems();
      }
    },
  },
};
</script>

<style></style>
