<template>
  <div>
    <template v-if="!user || !userToSave">
      <h2
        class="mt-8 text-center font-mono text-2xl text-pink-main font-bold relative"
      >
        Loading...
      </h2>
    </template>
    <template v-else>
      <h2
        class="mt-8 mb-4 text-center font-mono text-2xl text-pink-main font-bold"
      >
        My account
      </h2>

      <div class="flex justify-center">
        <div class="w-3/4 flex flex-col gap-2">
          <div class="flex justify-between">
            <div class="flex items-center">
              <label
                class="form-control label text-sm font-semibold text-black-main"
                for="input-username"
                >Username</label
              >
            </div>
            <input
              type="text"
              id="input-username"
              class="rounded-full h-10 focus:outline-none pl-4 text-black-main bg-gray-100"
              placeholder="Username"
              v-model="userToSave.login"
            />
          </div>

          <div class="flex justify-between">
            <div class="flex items-center">
              <label
                class="form-control label text-sm font-semibold text-black-main"
                for="input-email"
                >Email address</label
              >
            </div>
            <input
              type="email"
              id="input-email"
              class="rounded-full h-10 focus:outline-none pl-4 text-black-main bg-gray-100"
              placeholder=""
              v-model="userToSave.email"
            />
          </div>

          <div class="flex justify-between focused">
            <div class="flex items-center">
              <label
                class="form-control label text-sm font-semibold text-black-main"
                for="input-first-name"
                >First name</label
              >
            </div>
            <input
              type="text"
              id="input-first-name"
              class="rounded-full h-10 focus:outline-none pl-4 text-black-main bg-gray-100"
              placeholder="First name"
              v-model="userToSave.surName"
            />
          </div>

          <div class="flex justify-between focused">
            <div class="flex items-center">
              <label
                class="form-control label text-sm font-semibold text-black-main"
                for="input-last-name"
                >Last name</label
              >
            </div>
            <input
              type="text"
              id="input-last-name"
              class="rounded-full h-10 focus:outline-none pl-4 text-black-main bg-gray-100"
              placeholder="Last name"
              v-model="userToSave.lastName"
            />
          </div>
        </div>
      </div>
      <hr class="my-3" />
      <div class="flex justify-center">
        <div class="flex flex-col">
          <h2 class="text-pink-main font-semibold text-lg my-1">
            Selected diet :
          </h2>
          <select
            v-model="selectedPref"
            class="rounded-full shadow py-1 px-2 bg-white text-black-main focus:outline-none text-sm font-semibold"
          >
            <option
              v-for="option in preferences"
              v-bind:value="option"
              v-bind:key="option.id"
            >
              {{ option.name }}
            </option>
          </select>
        </div>
      </div>
      <hr class="my-3" />
      <div>
        <h2 class="text-pink-main font-semibold text-lg my-1 text-center">
          Allergies
        </h2>
        <div class="grid grid-cols-6">
          <div class="flex flex-col" v-for="item in this.allergies" :key="item">
            <div class="flex items-center justify-center flex-grow">
              <img :src="item.imgurl" alt="" class="rounded-lg h-10 w-10" />
            </div>
            <div class="flex justify-center">{{ item.name }}</div>
          </div>
          <router-link
            :to="{ name: 'userAddAllergies' }"
            class="flex items-center p-2"
          >
            <button
              class="flex h-6 w-6 items-center justify-center bg-indigo-main text-white rounded-md shadow-md"
            >
              <PlusIcon></PlusIcon>
            </button>
          </router-link>
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <button
          class="rounded-full px-4 py-2 text-lg font-medium text-white bg-indigo-main shadow-md cursor-pointer"
          :style="{ bottom: '0', left: 'calc(50% - 6rem)' }"
          @click="saveItem"
        >
          Save
        </button>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { PlusIcon } from "@vue-hero-icons/solid";

export default {
  data() {
    return {
      item: null,
      userToSave: null,
      preferences: [],
      selectedPref: {},
      allergies: [],
    };
  },
  components: {
    PlusIcon,
  },
  mounted() {
    // alert("coucou");
    this.fetchItem();
    this.userToSave = { ...this.user };
    this.selectedPref = {
      id: this.userToSave.preferenceId,
      name: this.userToSave.preferenceName,
    };
  },
  computed: {
    ...mapGetters("user", ["user"]),
  },
  methods: {
    fetchItem() {
      this.$axios
        .get("/auth/me")
        .then((res) => {
          this.$store.dispatch("user/setUser", res.data);
        })
        .then((res) => {
          this.item = res.data[0];
          this.$forceUpdate();
        });
      this.$axios
        .get("/users/preferences/all", {
          params: {
            foods: true,
          },
        })
        .then((res) => {
          console.log(res);
          this.preferences = res.data;
        });
      this.$axios.post("/foods/ids/user", this.user).then((res) => {
        console.log("mes allergies", res);
        this.allergies = res.data;
      });
    },
    saveItem() {
      this.userToSave.preferenceName = this.selectedPref.name;
      this.userToSave.preferenceId = this.selectedPref.id;
      console.log(this.allergies);
      this.userToSave.allergies = this.allergies.map((obj) => obj.id);
      console.log("cool", this.userToSave);
      this.$axios
        .put(`/users/${this.user.id}`, this.userToSave)
        .then(() => {
          this.$axios
            .get("/auth/me")
            .then((res) => {
              this.$store.dispatch("user/setUser", res.data);
            })
            .catch((e) => {
              console.error(e);
              this.$toast.error("User not logged in, redirecting...", {
                timeout: 2500,
              });
              setTimeout(() => {
                this.$router.push({ name: "login" });
              }, 2500);
            });

          this.$toast.success("User Edited !");
        })
        .catch((e) => {
          console.error(e);
          this.$toast.error("Ooops! An error occured...");
        });
    },
  },
};
</script>

<style>
.shadowcustom {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(20, 20, 20, 0.23);
}
</style>

