<template>
  <div
    class="h-32 w-32 border-r border-b relative flex-row overflow-hidden"
    @click.stop="toggle"
  >
    <div class="flex justify-between p-1">
      <div
        class="font-medium rounded-full flex h-5 pr-1 justify-center items-center text-xs"
        :class="dlcBadgeClass(ingredient)"
      >
        <ClockIcon class="h-6 w-6 p-1"></ClockIcon>
        <span>{{ dateDiff(ingredient.dlc) }}j</span>
      </div>
      <div
        class="bg-indigo-100 font-medium rounded-full flex h-5 w-5 items-center justify-center"
      >
        <span class="text-indigo-main text-xs">
          x{{ ingredient.quantity }}</span
        >
      </div>
    </div>
    <div class="flex self-end items-center justify-center w-full py-2">
      <img class="h-12 w-12" :src="ingredient.imgurl" alt="" />
    </div>

    <!-- Tooltip -->
    <div
      class="absolute shadow bg-white h-full w-full flex justify-between flex-col transition-all"
      :style="{ top: showTooltip ? '0' : '100%', left: '0' }"
    >
      <div class="text-center bg-blue-100 text-blue-500 text-xs font-medium">
        {{ ingredient.name }}
      </div>
      <div class="flex w-full justify-between py-1 px-3 text-lg">
        <div
          class="text-gray-500 font-bold"
          @click.stop="
            () => {
              if (ingredient.quantity > 0) ingredient.quantity--;
            }
          "
          @contextmenu.prevent="
            () => {
              ingredient.quantity = 0;
            }
          "
        >
          -
        </div>
        <div class="font-medium">{{ ingredient.quantity }}</div>
        <div
          class="text-gray-500 font-bold"
          @click.stop="ingredient.quantity++"
        >
          +
        </div>
      </div>
      <div class="text-indigo-main text-xs text-center">
        DLC : {{ formatDate(ingredient.dlc) }}
      </div>
      <template v-if="ingredient.quantity > 0">
        <div
          class="bg-green-400 py-1 flex justify-center text-white"
          @click.stop="updateQuantity(ingredient)"
        >
          <CheckCircleIcon></CheckCircleIcon>
        </div>
      </template>
      <template v-else>
        <div
          class="bg-red-500 py-1 rounded-sm flex justify-center text-white"
          @click.stop="deleteIngredient(ingredient)"
        >
          <TrashIcon></TrashIcon>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { CheckCircleIcon, TrashIcon, ClockIcon } from "@vue-hero-icons/solid";

export default {
  components: {
    CheckCircleIcon,
    TrashIcon,
    ClockIcon,
  },
  props: {
    ingredient: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      showTooltip: false,
    };
  },
  methods: {
    dlcBadgeClass(ingredient) {
      const dateDiff = this.dateDiff(ingredient.dlc);
      if (dateDiff > 3) {
        return "bg-green-100 text-green-700";
      }
      if (dateDiff > 1) {
        return "bg-yellow-100 text-yellow-500";
      }
      return "bg-red-100 text-red-700";
    },
    toggle() {
      // if(!this.showTooltip)
      //     this.$emit('select',this.$el);
      this.showTooltip = !this.showTooltip;
    },
    dateDiff(d1) {
      var timeDiff = Date.parse(d1) - new Date().getTime();
      return Math.ceil(timeDiff / (1000 * 3600 * 24));
    },
    deleteIngredient(ingredient) {
      this.$axios
        .delete(`/fridges/food/${ingredient.id}`)
        .then((res) => {
          if (res.status === 200) {
            this.$toast.success("Ingredient deleted");
            this.$emit("delete", ingredient);
          }
        })
        .catch((e) => {
          this.$toast.error("An error occured...");
          console.error(e);
        });
    },
    formatDate(d) {
      return new Date(d).toLocaleDateString();
    },
    updateQuantity(ingredient) {
      this.$axios
        .put(`/fridges/food`, {
          ...ingredient,
        })
        .then((res) => {
          if (res.status === 200) {
            this.$toast.success("Quantity updated");
            this.showTooltip = false;
            this.$emit("update", ingredient);
          }
        })
        .catch((e) => {
          console.error(e);
        });
    },
  },
};
</script>

<style></style>
