<template>
  <div class="h-screen bg-white overflow-hidden">
    <component :is="layout">
      <transition
        :name="transitionName"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
      >
        <template v-if="user || layout == 'auth-layout'">
          <router-view :key="$route.fullPath" />
        </template>
      </transition>
    </component>
  </div>
</template>

<script>
import "vue-toastification/dist/index.css";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      transitionName: "slide-right",
    };
  },
  computed: {
    layout() {
      const default_layout = "default";
      return (this.$route.meta.layout || default_layout) + "-layout";
    },
    ...mapGetters("user", ["user"]),
  },
  methods: {
    beforeLeave(element) {
      element.style.height = `100vh`;
    },
    enter(element) {
      element.style.height = `100vh`;
    },
  },
  mounted() {
    if (!this.user || this.layout != "auth-layout") {
      this.$axios
        .get("/auth/me")
        .then((res) => {
          this.$store.dispatch("user/setUser", res.data);
          this.$axios
            .get(`/fridges/user/${res.data.id}`, {
              params: {
                foods: true,
              },
            })
            .then((res2) => {
              console.log(res2);
              this.$store.dispatch("user/setFreegos", res2.data);
            });
        })
        .catch((e) => {
          console.error(e);
          this.$toast.error("User not logged in, redirecting...", {
            timeout: 2500,
          });
          setTimeout(() => {
            this.$router.push({ name: "login" });
          }, 2500);
        });
    }
  },
  watch: {
    $route(to, from) {
      const toDepth = to.path.split("/").length;
      const fromDepth = from.path.split("/").length;
      this.transitionName = toDepth < fromDepth ? "slide-right" : "slide-left";
    },
  },
};
</script>

<style>
* {
  -webkit-tap-highlight-color: transparent;
}
/* ZOOM */
body {
  background-color: rgb(247, 250, 252) !important;
}
/* body>div{
    zoom: 90%;
}     */

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.1, 1);
  overflow: hidden !important;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
</style>
