<template>
  <div>
    <slot></slot>
    <Menu></Menu>
  </div>
</template>

<script>
import Menu from "./components/Menu";

export default {
  components: {
    Menu,
  },
};
</script>

<style></style>
