<template>
  <input
    v-bind="$attrs"
    v-on="$listeners"
    @focus="$store.dispatch('layout/showFooter', false)"
    @blur="$store.dispatch('layout/showFooter', true)"
    class="rounded-full h-10 focus:outline-none pl-4 text-black-main bg-gray-100"
  />
</template>

<script>
export default {};
</script>

<style></style>
