<template>
  <div
    class="flex justify-between text-blue-main"
    v-if="items.content && items.content.length < items.totalElements"
  >
    <template v-if="value > 3">
      <div
        class="flex h-6 w-6 text-xs justify-center items-center rounded-full text-white transition-all"
        :class="paginationClass(0)"
        @click="setPage(0)"
      >
        1
      </div>
      <div class="text-center">...</div>
    </template>
    <template v-for="p in paginationItems">
      <div
        class="flex h-6 w-6 text-xs justify-center items-center rounded-full text-white transition-all"
        :class="paginationClass(p)"
        :key="p"
        @click="setPage(p)"
      >
        {{ p + 1 }}
      </div>
    </template>
    <div class="text-center">...</div>
    <div
      class="flex h-6 w-6 text-xs justify-center items-center rounded-full text-white transition-all"
      :class="paginationClass(items.totalPages - 1)"
      @click="setPage(items.totalPages - 1)"
      v-if="items.totalPages - 1 != value"
    >
      {{ items.totalPages }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      required: true,
    },
    items: {
      type: Object,
      required: true,
    },
  },
  computed: {
    paginationItems() {
      if (!this.items) return [];

      var list = [];
      let end,
        start = null;
      if (this.value > 3 && this.value + 3 < this.items.totalPages) {
        start = this.value - 2;
        end = this.value + 2;
      } else if (this.value + 3 >= this.items.totalPages) {
        start = this.items.totalPages - 5;
        end = this.items.totalPages - 1;
      } else {
        start = 0;
        end = 5;
      }
      for (var i = start; i <= end; i++) {
        list.push(i);
      }

      return list;
    },
  },
  methods: {
    paginationClass(p) {
      return {
        "bg-indigo-200": this.value != p,
        "bg-indigo-main shadow-md": this.value === p,
      };
    },
    setPage(page) {
      this.$emit("input", page);
    },
  },
};
</script>

<style>
</style>